In [118]:
n = int(input("Enter n value"))
for i in range(1,n):
  
    for j in range(i):
        print(j+1,end="")
        
    for k in range(j,0,-1):
            print(k,end="")    
    print('\n')

Enter n value4
1

121

12321

In [171]:
n = int(input('Enter n value '))
for i in range(n,0,-1):
    for k in range(n-i):
        print(' ',end=" ")
    for j in range(i):
        print(j+1,end=" ")
    
        
    print('\n')

Enter n value 5
1 2 3 4 5

  1 2 3 4

    1 2 3

      1 2

        1

In [182]:
n= int(input("Enter n value "))
for i in range(1,n):
    for j in range((n-i),1,-1):
        print(" ",end=" ")    
    for k in range(i):
        print(k+1,end=" ")
    for l in range(i-1,0,-1):
        print(l,end=" ")
    print("\n")
    
for a in range(n-2,0,-1):
    for b in range(n-a-1):
        print(' ',end=" ")
    for c in range(a):
        print(c+1,end=" ")
    for d in range(a-1,0,-1):
        print(d,end=" ")
    print('\n')

Enter n value 20
                                    1

                                  1 2 1

                                1 2 3 2 1

                              1 2 3 4 3 2 1

                            1 2 3 4 5 4 3 2 1

                          1 2 3 4 5 6 5 4 3 2 1

                        1 2 3 4 5 6 7 6 5 4 3 2 1

                      1 2 3 4 5 6 7 8 7 6 5 4 3 2 1

                    1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

                  1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1

                1 2 3 4 5 6 7 8 9 10 11 10 9 8 7 6 5 4 3 2 1

              1 2 3 4 5 6 7 8 9 10 11 12 11 10 9 8 7 6 5 4 3 2 1

            1 2 3 4 5 6 7 8 9 10 11 12 13 12 11 10 9 8 7 6 5 4 3 2 1

          1 2 3 4 5 6 7 8 9 10 11 12 13 14 13 12 11 10 9 8 7 6 5 4 3 2 1

        1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

      1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

    1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

    1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

      1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

        1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

          1 2 3 4 5 6 7 8 9 10 11 12 13 14 13 12 11 10 9 8 7 6 5 4 3 2 1

            1 2 3 4 5 6 7 8 9 10 11 12 13 12 11 10 9 8 7 6 5 4 3 2 1

              1 2 3 4 5 6 7 8 9 10 11 12 11 10 9 8 7 6 5 4 3 2 1

                1 2 3 4 5 6 7 8 9 10 11 10 9 8 7 6 5 4 3 2 1

                  1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1

                    1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

                      1 2 3 4 5 6 7 8 7 6 5 4 3 2 1

                        1 2 3 4 5 6 7 6 5 4 3 2 1

                          1 2 3 4 5 6 5 4 3 2 1

                            1 2 3 4 5 4 3 2 1

                              1 2 3 4 3 2 1

                                1 2 3 2 1

                                  1 2 1

                                    1

In [148]:
print("0" + str(1))

01

# this is my code
## dasndta
### isha

- ttt
- jjjj

In [105]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end="")
        
   # for k in range(j,0,-1):
           # print(k,end="")    
    print('\n')

1

12

123

1234

12345

In [87]:
print("")

In [24]:
for i in range(6):
   for j in range(i,0,-1):
      #print(i)
      print(j,end="")
   print('\n')

1

21

321

4321

54321

In [21]:
for i in range(6,1,-1):
    for j in range(i):
      print(j+1,end="")
    print('\n')

123456

12345

1234

123

12

In [22]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
      print(j,end="")
    print('\n')

54321

4321

321

21

1